{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

	<div class="row row-eq-height ml-2 mr-2">
		<div class="col-md"></div>
		<div class="col-md">
			<h1>Welcome</h1>
			<form method="POST">
				{% csrf_token %}
				<p>
					<label>Username</label>
					<input type="text" name="username">
				</p>
				<p>
					<label>Password</label>
					<input type="password" name="password">
				</p>
				<button type="submit">Login</button>
			</form>
			<div>
			<code>
			<p>Have no accounts? <a href="#">Sign Up here</a></p>
			</code>
			</div>
		</div>
		<div class="col-md"></div>
	</div>
{% endblock %}
